.forgotPasswordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; 
    width: 100%;
    background-color: #f9f9f9; 
}

.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
    padding: 20px; 
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 50px; 
    margin-left: 70px;
}

.logoSquare {
    width: 80px; 
    height: 80px; 
    background-color: #d8f3dc; 
    margin-right: 15px; 
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.boldText {
    font-size: 28px; 
    font-weight: 700; 
    color: #2f4f4f; 
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5); 
}

.successMessage,
.errorMessage {
    margin: 10px 0; 
    text-align: center; 
}

.form {
    display: flex;
    flex-direction: column; 
    width: 100%; 
    max-width: 400px; 
}

.formGroup {
    margin-bottom: 20px; 
}

.label {
    font-weight: bold; 
    margin-bottom: 5px; 
}

.inputField {
    padding: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 100%; 
    font-size: 14px; 
}

.resetButton {
    padding: 10px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 14px; 
}

.resetButton:hover {
    background-color: #45a049; 
}


@media (max-width: 600px) {
    .boldText {
        font-size: 24px;
    }
}