.loginContainer {
	display: flex;
	height: 100vh;
	background-color: #fff;
  }
  
  .left {
	width: 65%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .Group {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
  }
  
  .icon {
	margin-right: 10px;
	color: #2f4f4f;
  }
  
  .inputField {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 20px;
	font-size: 16px;
  }
  
  .forgotPasswordAndButton {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 65%; 
    margin-top: 20px; 
    margin-left: 150px;
    gap: 20px; 
}

.forgotPassword {
    color: #20682b;
    text-decoration: none;
    position: absolute;
    top: 63%; 
    left: 400px; 
    transform: translateY(-50%); 
}

.loginButton {
    width: 104px;
    height: 37px;
    background-color: #20682b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	margin-left: 200px;
    justify-content: center; 
}
  
  .loginButton:hover {
	background-color: #56be75;
  }
  
  .extraOptions {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 10px;
	font-size: 14px;
  }
  
  .rightSide {
	width: 35%;
	background: linear-gradient(135deg, #013a19, #4CAF50, #c2f5b2); 
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: white;
	
	
	border-top-left-radius: 300px; 
	border-bottom-left-radius: 0px;
	
	
	box-shadow: -10px 0 30px rgba(0, 0, 0, 0.1);
  }
  
  .welcomeSection {
	text-align: center;
  }
  
  .welcomeText {
	font-size: 40px;
	margin-bottom: 10px;
  }
  
  .welcomeSubtext {
	font-size: 18px;
	margin-bottom: 20px;
  }
  
  .signUpLink {
	color: white;
	text-decoration: underline;
	cursor: pointer;
	margin-right: 5px;
  }

  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 50px; 
	margin-left: 30px;
}

.logoSquare {
    width: 80px; 
    height: 80px; 
    background-color: #d8f3dc; 
    margin-right: 15px; 
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.boldText {
    font-size: 28px; 
    font-weight: 700; 
    color: #2f4f4f; 
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5); 
}

@media (max-width: 600px) {
    .boldText {
        font-size: 24px; 
    }

    .logoSquare {
        width: 60px; 
        height: 60px; 
    }
}