.productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #d8f3dc; 
    height: 100vh; 
    justify-content: flex-start;
    overflow-y: auto; 
}

.leftSide {
    background: linear-gradient(135deg, #c2f5b2, #4CAF50, #393a01);
    padding: 10px; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 500px; 
    position: absolute; 
    left: 20px; 
    height: 100%;
    
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #d8f3dc; 
    height: 100vh;
    justify-content: flex-start; 
   
}

.title {
    font-size: 36px;
    color: #2f4f4f; 
    margin-bottom: 20px;
}

.filterContainer {
   
    margin-left: 150px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.priceContainer{
    margin-left: 150px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.searchContainer{
    margin-top: 0px;
    margin-right: 400px;
    
}

.filterTitle {
    font-size: 24px;
    color: #20682b; 
    margin-bottom: 10px;
}

.tipsTitle{
    font-size: 24px;
    color: #20682b; 
    margin-bottom: 10px;
    margin-top: 100px;
}

.categorySelect {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #2aaa0a;
    font-size: 16px;
    width: 200px; 
}

.priceSelect{
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #08aa2b;
    font-size: 16px;
    width: 200px; 
}

.productList {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 30px;
    margin-top: 15px;
    margin-left: 400px;
}

.productCard {
    background-color: #ffffff; 
    border-radius: 10px;
    padding: 15px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    height: 300px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

.productImage {
    max-width: 100%;
    height: 150px; 
    border-radius: 10px; 
    object-fit: cover; 
}

.productName {
    font-size: 20px;
    color: #2f4f4f;
    margin: 10px 0;
}

.productDescription {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px; 
}

.productCategory {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px; 
}

.productPrice {
    font-weight: bold;
    color: #4CAF50; 
}

.pagination {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
    margin-left: 250px; 
}

.pageButton {
    margin: 0 5px; 
    padding: 10px 15px; 
    border: none;
    border-radius: 5px; 
    background-color: #20682b; 
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.pageButton:hover {
    background-color: #4CAF50; 
}

.active {
    background-color: #4CAF50; 
    font-weight: bold; 
}

.searchContainer {
    margin-bottom: 20px; 
}

.searchInput {
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    font-size: 16px; 
    width: 300px; 
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 50px; 
}

.logoSquare {
    width: 80px; 
    height: 80px; 
    background-color: #d8f3dc; 
    margin-right: 15px; 
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.boldText {
    font-size: 28px; 
    font-weight: 700; 
    color: #2f4f4f; 
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.userInfo {
    
    flex-direction: row; 
    align-items: start; 
    
  }

  .UserContainer {
    background: linear-gradient(135deg, #013a19, #4CAF50, #c2f5b2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    position: absolute;
    right: 20px;
    display: flex; 
    align-items: center;
    gap: 10px; 
    height: auto; 
  }
  
  .welcomeMessage {
    margin: 0;
    padding: 0 5px;
  }
  
  .userRole {
    margin: 0;
    padding: 0 5px;
  }
  
  .userEmail {
    margin: 0;
    padding: 0 5px;
  }
  
  .profilePictureContainer {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .userIcon {
    width: 40%;
    height: auto;
  }


  .tipsList {
    list-style-type: none; 
    padding-left: 0; 
    margin: 20px 0; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    color: #333;
    
  }
  
  .tipsList li {
    margin-bottom: 10px; 
    line-height: 1.5; 
    position: relative; 
    padding-left: 25px; 
  }
  
  .tipsList li:before {
    content: "✓"; 
    position: absolute;
    left: 0; 
    color: green; 
    font-size: 1.2em; 
    line-height: 1; 
  }

	.logoutButton{
    padding: 10px 20px; 
    font-size: 16px; 
    color: white; 
    background-color: #2f4f4f;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
		margin-top: 190px;
		margin-left: 20px;
    
	}