.registerContainer {
    display: flex;
    height: 100vh;
    background-color: #fff;
}

.left {
    width: 65%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
    color: #2f4f4f;
}

.inputField {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

.registerButton {
    width: 100%; 
    height: 37px;
    background-color: #20682b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.registerButton:hover {
    background-color: #56be75;
}

.rightSide {
    width: 35%;
    background: linear-gradient(135deg, #013a19, #4CAF50, #c2f5b2); 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-top-left-radius: 300px; 
    border-bottom-left-radius: 0px;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.1);
}

.welcomeSection {
    text-align: center;
}

.welcomeText {
    font-size: 40px;
    margin-bottom: 10px;
}

.welcomeSubtext {
    font-size: 18px;
    margin-bottom: 20px;
}

.signUpLink {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
	margin-left: 30px;
}

.logoSquare {
    width: 80px; 
    height: 80px; 
    background-color: #d8f3dc; 
    margin-right: 15px; 
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.boldText {
    font-size: 28px; 
    font-weight: 700; 
    color: #2f4f4f; 
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5); 
}

.hiddenRole {
	display: none;
}